---
import MainLayout from "../layouts/MainLayout.astro";
import { formatDate, generateSlug } from "../helpers/date";
import { getDiscussions } from "@libs/github";
import type { Session } from "@auth/core/types";
import { Auth, SignIn } from "auth-astro/components";
import Login from "@components/Login.astro";

const data = await getDiscussions();
---

<MainLayout title="Home">
  <div class="mx-auto max-w-[2024px] px-6 lg:px-8 pt-16">
    <div class="mx-auto max-w-4xl text-center">
      <p
        class="rounded-full bg-gray-900 inline-block px-3.5 py-1 text-xs font-medium text-white shadow-sm sm:hidden"
      >
        Under Development
      </p>
      <h2
        class="text-3xl font-medium font-base125 text-gray-900 sm:text-4xl 2xl:text-5xl mt-4 sm:mt-0"
      >
        Evarody Blog
      </h2>
      <p class="mt-3 sm:mt-5 text-base sm:text-lg leading-8 text-gray-600">
        {data?.description}
      </p>
      <p class="mt-2.5 text-base sm:text-lg leading-8 text-gray-600">
        <a
          href={data?.url}
          class="relative isolate no-underline after:absolute after:right-[.05em] after:bottom-0 after:left-[.05em] after:block after:-z-[1] after:h-px after:bg-gray-400/40 after:transition-transform after:scale-x-100 after:origin-bottom-left hover:after:scale-x-0 hover:after:origin-bottom-right before:absolute before:inset-0 before:-z-[1] before:block before:bg-gray-200/75 before:transition-transform before:scale-x-0 before:origin-bottom-right hover:before:scale-x-100 hover:before:origin-bottom-left hover:text-black duration-150 font-mono"
          >{data?.nameWithOwner}</a
        >
      </p>

      <div class="hidden">
        <div class="relative inline-block text-left">
          <div>
            <button
              type="button"
              class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
            >
              Options
              <svg
                class="-mr-1 h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>

          <!--
            Dropdown menu, show/hide based on menu state.
        
            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div
            class="absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0">Edit</a
              >
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-1">Duplicate</a
              >
            </div>
            <div class="py-1" role="none">
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-2">Archive</a
              >
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-3">Move</a
              >
            </div>
            <div class="py-1" role="none">
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-4">Share</a
              >
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-5">Add to favorites</a
              >
            </div>
            <div class="py-1" role="none">
              <a
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-6">Delete</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-3 sm:hidden">
      <Auth>
        {
          (session: Session) => {
            if (session) {
              return <Login user={session.user} />;
            } else {
              return <SignIn provider="github">Sign In</SignIn>;
            }
          }
        }
      </Auth>
    </div>

    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-5 md:grid-cols-2 gap-y-8 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none xl:grid-cols-4"
    >
      {
        data.discussions.edges?.map((data) => (
          <a
            href={`post/${data.node.author.login}/${generateSlug(data.node.title)}----${data.node.number}`}
          >
            <article class="h-full w-full border-b max-w-xl group hover:bg-white rounded-sm hover:scale-[0.99] relative isolate no-underline after:absolute after:right-[.05em] after:bottom-0 after:left-[.05em] after:block after:-z-[1] after:h-px after:bg-gray-400/40 after:transition-transform after:scale-x-100 after:origin-bottom-left hover:after:scale-x-0 hover:after:origin-bottom-right before:absolute before:inset-0 before:-z-[1] before:block before:bg-gray-200/75 before:transition-transform before:scale-x-0 before:origin-bottom-right hover:before:scale-x-100 hover:before:origin-bottom-left hover:text-black duration-150">
              <div class="flex h-full flex-col items-start justify-start p-3 gap-y-3.5">
                <div class="flex items-center gap-x-4 text-xs/5">
                  <p class="text-gray-500">{formatDate(data.node.createdAt)}</p>
                  <span class="inline-flex items-center gap-x-1.5 rounded-md px-1.5 py-0.5 font-medium text-xs/5 forced-colors:outline bg-zinc-600/10 text-zinc-700">
                    {data.node.category.name}
                  </span>
                </div>
                <div class="relative">
                  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 ">
                    {data.node.title}
                  </h3>
                  <p
                    class="mt-3 md:mt-3.5 line-clamp-3 text-sm leading-6 text-gray-600"
                    style="  word-break: break-word"
                  >
                    {data.node.bodyText}
                  </p>
                </div>
                <div class="relative mt-auto flex items-center gap-x-2 w-full">
                  <img
                    src={data.node.author.avatarUrl}
                    alt=""
                    class="h-8 w-8 rounded-full bg-gray-50"
                  />
                  <div class="text-sm leading-6 w-full">
                    <p class="font-semibold text-gray-900 truncate w-[calc(100%-2rem)] sm:w-full">
                      {data.node.author.login}
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
